body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: light dark;
  background-color: Canvas;
  color: CanvasText;
}

ul#class-label {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 5px;
  padding: 0;
  gap: 1px;
  justify-content: center;
}

ul#class-label > li {
  width: 2em;
  height: 2em;
  color: attr(class-color);
  text-align: center;
  align-content: center;
  border-radius: 2px;
}

#drawing-surface-canvas {
  width: 100%;
  display: block;
  margin: auto;
}

#drawing-surface-clear {
  margin: 0.75rem;
}

#app {
  text-align: center;
}
