:root {
	--low-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
	--high-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2)
}

html {
	background-color: #161e03;
}

html,
body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
#sections,
.navbar>* {
	font-family: Consolas, monaco, monospace;
}

.content>p,
.content>ul {
	margin: 0.5em 5vw;
	text-indent: 1.5em;
}

.spacer {
	padding: 0 5vw 5vw 5vw;
}

.content {
	margin: 50px auto 0 auto;
	padding: 10px;
	background-color: #ffffffe3;
	border-radius: 5px;
	max-width: 1200px;
	box-shadow: var(--high-shadow);
}

.banner {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.navbar {
	margin-bottom: 20px;
	display: grid;
	grid-auto-flow: column;
	text-align: center;
	grid-gap: 2px;
	border-radius: 5px;
	overflow: hidden;
	font-size: large;
	box-shadow: var(--low-shadow);
}

.navbar>* {
	background-color: #272b3c;
	color: white;
	padding: 1px;
	text-decoration: none;
}

.navbar>*:hover,
.navbar>*:active {
	background-color: #3c4158;
}

.inline_icon {
	display: inline;
	margin: 0 0.15em;
	padding: 0;
	vertical-align: baseline;
	height: 1.5ex;
}

h1 {
	margin: 150px auto 10px auto;
	background-color: white;
	color: black;
	width: fit-content;
	padding: 0 10px;
	border-radius: 5px;
	text-align: center;
	box-shadow: var(--high-shadow);
}

h2 {
	background-color: #f1c232;
	color: white;
	padding: 0 10px;
	text-align: center;
	border-radius: 5px;
	border: none;
	box-shadow: var(--low-shadow);
}

.subheader {
	margin: 0;
	text-align: center;
	padding: 0;
}

.collapsible {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 5px;
	margin: 0.5em 0;
	display: grid;
	box-shadow: var(--low-shadow);
}

/* .collapsible.closed {
	overflow: hidden;
	grid-template-rows: auto 0;
} */

.collapsible>h3 {
	margin: 0 0 10px 0;
	cursor: pointer;
}

.collapsible.closed>h3 {
	margin: 0;
}

.collapsible.closed>div {
	display: none;
}

.collapsible.closed>h3::before {
	content: "+";
}

.collapsible>h3::before {
	content: "-";
	padding: 0 10px;
	display: inline-block;
	text-align: center;
}

.gist-data {
	height: 50vh;
}

.gist {
	max-width: 100%;
	overflow: auto;
	font-size: smaller;
}

/* .gist .blob-wrapper.data {
	max-height: 200px;
	overflow: auto;
} */

.center {
	margin: 0 auto;
	max-width: fit-content;
}

.hidden {
	display: none;
}

.image-pane {
	position: relative;
	margin: 2em 10vw;
	max-width: fit-content;
}

.image-pane-scroll {
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	overflow: auto;
	scroll-snap-type: x mandatory;
	background-color: inherit;
	border-radius: 5px;
	align-items: center;
	box-shadow: var(--low-shadow);
	scroll-behavior: smooth;
	max-width: fit-content;
}

.image-pane img {
	height: 15em;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	scroll-snap-align: center;
	flex: none;
	max-width: calc(100% - 10px); /* Squishes large images */
}

.image-pane .prev,
.image-pane .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.image-pane .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.image-pane .prev:hover,
.image-pane .next:hover,
.image-pane .prev:active,
.image-pane .next:active {
	color: white;
	background-color: rgba(0,0,0,0.8);
}

.page-pane {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: min-content 1fr;
	margin: 20px;
	background-color: inherit;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: var(--low-shadow);
}

.page-pane>img {
	width: 100%;
	grid-row: 1 / span 2;
}

.page-pane>h3 {
	border-bottom: 2.5px solid #ffd966;
	width: max-content;
	display: block;
	margin: 5px 1em;
}

.page-pane>h3>a {
	color: inherit;
	text-decoration: inherit;
}

.page-pane>p {
	margin-left: 1em;
	margin-right: 1em;
}

/* CSS that should be displayed if width is equal to or less than 800px goes here */
@media (max-width: 800px) {
	html {
		font-size: 14px;
	}

	.image-pane {
		margin: 2em 0;
	}

	.page-pane {
		display: block;
		text-align: center;
	}

	.page-pane>img {
		max-width: 300px;
	}

	.page-pane>h3 {
		margin: auto;
	}

	.page-pane>p {
		text-align: justify;
		margin-left: 2em;
		margin-right: 2em;
	}
}

.footer {
	text-align: center;
	margin-top: 3em;
}